body{
  margin:0;
}
h1{
  text-align:center;
  /* border:10px solid red; */
  border-bottom:2px solid blue;
  /* display:block; 기본값def*/
  margin:0px;
  padding:30px;
  font-size:55px;
}
a{
  text-decoration:none;
  color:black;
  /* text-size:20px; */
}
ul{
  border-right:2px solid blue;
  width:150px;
  margin:0;
  display:block;
  font-size:20px;
}
h3{
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns:200px 1fr;
}
.text{
  font-size:30px;
}
.text_meditation{
  font-size:20px;
}
